<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>spotifydemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15821E441BB0CCA500811932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15821E5D1BB0CCA500811932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15821E681BB0CCA500811932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
